<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169167876904-pht3ds73aomtkn39su2n2hdm04piv6qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169167876904-pht3ds73aomtkn39su2n2hdm04piv6qu</string>
	<key>API_KEY</key>
	<string>AIzaSyCqsnIAiElC9qW7nWxORzV4ADn22y26XVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>169167876904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.shiji.app</string>
	<key>PROJECT_ID</key>
	<string>aaden-saas</string>
	<key>STORAGE_BUCKET</key>
	<string>aaden-saas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169167876904:ios:6a23aff22e34950fcc161d</string>
</dict>
</plist>